body{
    background-image: url(https://images5.alphacoders.com/324/324695.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.divMain{
    display: flex;
    margin-right: 100px;
}


.divPerfil{
    
    background-color: rgba(255, 255, 255, 0.421);
    width: 21.1%;
    padding: 25px;
    margin-top: 20px;
    border-radius: 10px;
    align-items    : center;


}
.divImagem{
    align-items: center;
    justify-content: center;
    display: flex;
}
.divImagem img{
    border-radius: 300px;
    width: 120px;
}
.divUsuario{
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 15pt;
    text-align: center;
    margin-top: 10px;
}

.divCurriculoVitae{
    display:flex;
    margin-top: 400px;
    align-items: center;
    justify-content: center;

}

.divBottomVitae{
    background-color: rgb(39, 89, 123);
    border-radius: 10px;
    width: 102px;
    padding: 6px;
    text-align: center;
}

.divBottomVitae:hover{
    background-color: rgb(29, 58, 77);
    border-radius: 10px;
    width: 102px;
    padding: 6px;
    text-align: center;
}


.divBottomVitae a{
    text-decoration: none;
    color: inherit;
    font-family: 'Open Sans';
    font-size: 11pt;
}
.divBottomVitae a:hover{
    text-decoration: none;
    color: inherit;
    font-family: 'Open Sans';
    font-size: 11pt;
}

.divIcons img{
    width: 35px;
    height: 35px;
}
.divIcons div{
    display: flex;
}
.divPortifilio{
    background-color: aliceblue;
}
.divPortifilio {
    background-color: aliceblue;
}