body{
    background-image: url(https://images5.alphacoders.com/324/324695.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Open Sans';
}
hr{
    border: none;
    background-color: rgba(0, 0, 0, 0.323);
    height: 0.1px;
}
.divMain{
    margin-right: 100px;
    display: flex;
}
.email{
    text-align: center;
    font-family: 'Open Sans';
}

.divPerfil{
    
    background-color: rgba(255, 255, 255, 0.421);
    width: 21.1%;
    padding: 25px;
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 10px;
    align-items    : center;


}
.divImagem{
    align-items: center;
    justify-content: center;
    display: flex;
}
.divImagem img{
    border-radius: 300px;
    width: 110px;
}
.divUsuario{
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 15pt;
    text-align: center;
    margin-top: 15px;
}

.divLinksImportantes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.divCurriculoVitae{
    margin-top: 250px;
    align-items: center;
    justify-content: center;

}
.divProjetos{
    background-color: rgb(39, 89, 123);
    border-radius: 10px;
    width: 102px;
    padding: 6px;
    margin-bottom: 15px;

    text-align: center;
}

.divProjetos:hover{
    background-color: rgb(29, 58, 77);
    border-radius: 10px;
    width: 102px;
    padding: 6px;
    text-align: center;
}

.divProjetos a{
    text-decoration: none;
    color: inherit;
    font-family: 'Open Sans';
    font-size: 11pt;
}
.divProjetos a:hover{
    text-decoration: none;
    color: inherit;
    font-family: 'Open Sans';
    font-size: 11pt;
}

.divBottomVitae{
    background-color: rgb(39, 89, 123);
    border-radius: 10px;
    width: 102px;
    padding: 6px;
    text-align: center;
}

.divBottomVitae:hover{
    background-color: rgb(29, 58, 77);
    border-radius: 10px;
    width: 102px;
    padding: 6px;
    text-align: center;
}


.divBottomVitae a{
    text-decoration: none;
    color: inherit;
    font-family: 'Open Sans';
    font-size: 11pt;
}
.divBottomVitae a:hover{
    text-decoration: none;
    color: inherit;
    font-family: 'Open Sans';
    font-size: 11pt;
}

.divIcons img{
    width: 35px;
    height: 35px;
    margin-left: 15px;
    margin-top: 20px;
}


.divIcons div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.divPortifilio{
    font-family: 'Open Sans';

    background-color: rgba(255, 255, 255, 0.421);    
    padding: 25px;
    height: 520px;
    width: 70%;
    margin-top: 50px;
    margin-left: 25px;
    border-radius: 10px;
}
.Tecnologias{
    margin-top: 40px;
}

.icons_tec div{
    margin-bottom: 10px;
    margin-left: 5px;

}
.icons_tec img{
    width: 50px;
    margin-right:10px;
}

.react{
    padding: 1px;
    width: 45px;
    border-radius: 10px;
    background-color: white;
}


.divProjetosImportantes{
    margin-top: 35px;

}
